.app__breaking{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  .app__item {
    width: 700px;
    
    flex-direction: column;

    margin: 5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 2000px) {
      width: 470px;
      padding: 1.25rem;
      border-radius: 0.75rem;
    }

    @media screen and (max-width: 300px) {
      width: 100%;
      margin: 1rem;
    }
  }
}

.app__image{
    width: 100%;
    height: 230px;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: contain;
    }
    @media screen and (min-width:2000px) {
        height: 350px;
    }
}

.app__breaking-content{
    padding: 0.5rem;
    width: 100%;
    position: relative;
    flex-direction: column;

    h4{
        margin-top: 1rem;
        line-height: 1.5;
    }

    .app__breaking-src{
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background-color: #fff;
    }
}